html *
{
   font-family: Helvetica, sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  border-bottom: 1px solid lightgray;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: flex-start; */
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

/* .nav li:last-child {
  padding-left: 0;
  margin-left: auto;
} */

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;

  /* display: flex; */
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.question-page {
  padding: 30px;
}





/* BUTTONS */

.btn {
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  position: relative;
}

.btn.large-btn {
  margin: 35px auto;
  padding: 10px;
  font-size: 16px;
  width: 250px;
}

.option-btn {
  text-transform: uppercase;
  background-color: green;
  margin: 25px 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  font-size: 16px;
  width: 50px;
}

.option-btn:hover {
  background-color: black;
  color: green;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}





/* GENERAL */

.center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: end;
}

/* LOGIN */

.login-container {
  display: flex;
  justify-content: center;
}

.login-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* DASHBOARD */

.dashboard-button-container {
  display: flex;
  justify-content: space-between;
} 

.dashboard-button-container .btn:disabled {
  background-color: black;
  color: white;
}


/* LEADERBOARD */

.leaderboard-container {
  margin: 0 20%;
}

.leaderboard-container li {
  list-style-type: decimal !important;
}

.user-stats-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.user-stats-details-container {
  display: flex;
  justify-content: space-between;
}

.user-stats-name {
  padding: 10px
}

.user-stats-detail {
  border: 1px solid #dad7d7;
  margin: 0 5px;
  padding: 5px;
  width: 40%;
  text-align: center;
}

.user-stats-detail hr {
  height: 1px;
  border: none;
  background-color: rgba(0,0,0,.29);
}

/* QUESTION */


.option-btn-container {
  margin: 1rem;
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-row {
  margin: 1rem;
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

/* .result-row *:not(:first-of-type) {
  border: 1px solid #dad7d7;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
} */

/* NEW QUESTION */

.new-question-body {
  margin: 20px 5px;
}

.new-question-container {
  width: 100%;
  max-width: 590px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.new-question-container > * {
  margin: 10px 5px;
}